.page {
  position: relative;
  min-height: 100vh;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-list {
  width: 100%;
  max-width: 1440px;
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin-block: 3em;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.main {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-inline: auto;

  @media screen and (min-width: 768px) {
    
  }
}

.error {
  font-size: 1.5em;
}