.page {
  position: relative;
  min-height: 100vh;
  padding-inline: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-list {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3em;
  margin-block: 3em;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.error {
  // color: crimson;
  font-size: 1.5em;
}