.search {
  border-radius: 4px;
  font-size: 1.1em;
  padding: .5em;
  width: calc(100% - 1em);
  margin-top: 1em;
  margin-inline: .5em;
  border: rgba(0, 0, 0, 0.2);

  &::placeholder {
    color: rgba(0, 0, 0, 0.2)
  }
}